.container {
	margin-top: 50px;
}

#titlenav {
    	margin-top:12px;
}

#nav {
	margin: 13px 0 0 0 ;
	padding-right:0px;
}

#nav ul {
    	margin-bottom:10px;
	margin-top:8px;
	float:right;
}

#nav li {
	display: inline;
	font-size:20px;
	margin:0 20px 0 0;
	margin-bottom: 13px;
}

#welcome {
    padding-top: 40px;
}

#welcome h4 {
    text-color:blue;
}

#nav a {
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}



/* Used by port1.html */
#headerImage img{
	margin-bottom: 50px;
	max-width: 100%;
	height: auto;
}

#welcome {
	margin-bottom: 20px;
}

.feature img {
	margin-bottom: 15px;
	max-width: 100%;
	height: auto;
}

#port1 img{
	display: inline;
}

/* end port1.html */
.block {
position: absolute;
background: #eee;
padding: 20px;
width: 300px;
border: 1px solid #ddd;
}

* {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Used by port2.html */
